{% extends "base.html" %}

{% block extrahead %}
<meta property="og:url" content="https://jkchen2.gitlab.io/index-keypad">
<meta property="og:type" content="website">
<meta property="og:title" content="Valve Index DIY Frunk Keypad">
<meta property="og:description" content="A keypad for your Valve Index frunk">
<meta property="og:image" content="https://jkchen2.gitlab.io/index-keypad/media/static_wireframe.png">
<meta name="twitter:card" content="summary_large_image">
{% endblock %}
